/* Fonts */

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff2") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2"), url("../fonts/cuprumbolditalic.woff2") format("woff");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff2") format("woff");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/* Variables */

:root {
    --basic-extra-dark: #293449;
    --basic-dark: #32425c;
    --basic-dark-click: #1d2739;
    --basic-neutral: #f1f5f7;
    --basic-neutral-light: #f9f5f0;
    --basic-neutral-dark: #f7f3ec;
    --basic-white: #ffffff;
    --basic-red: #ee3643;
    --basic-red-hover: #ca2c37;
    --basic-red-click: #ba2732;
    --basic-black: #000000;
    --basic-gray: #a9a9a9;
    --basic-gray-light: #c5c5c5;
    --basic-green: #63a63e;
    --basic-green-click: #518534;
    --basic-green-hover: #5fbb2d;
    --basic-orange: #ffbf47;
    --basic-orange-light: #ffd180;
}

/* Common Styles */

.page-body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    min-width: 940px;
    color: var(--basic-white);
    background-color: var(--basic-white);
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    border: none;
    background-color: white;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-red {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: var(--basic-red);
    color: var(--basic-white);
    width: 192px;
    height: 38px;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
.button-red:hover {
    background-color: var(--basic-red-hover);
}
.button-red:active {
    background-color: var(--basic-red-click);
}

.link-new {
    background-color: var(--basic-red);
    color: var(--basic-white);
    font-weight: normal;
}

/* Top menu */

.header-menu {
    background-color: var(--basic-extra-dark);
}
.header-content {
    background-color: var(--basic-neutral);
}

.header-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--basic-green);
    color: var(--basic-white);
    height: 42px;
    width: 150px;
    padding: 0px;
}
.header-menu-button:hover {
    background-color: var(--basic-green-hover);
}

.header-menu-button:active {
    background-color: var(--basic-green-click);
}

.header-menu-button h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
}

.header-button {
    height: 45px;
    padding: 0px;
}
.header-button h2 {
    font-size: 21px;
    line-height: 21px;
}
.header-button:hover {
    color: var(--basic-red);
}
.header-button:hover img {
    filter: invert(100%);
}
.header-button:active {
    color: var(--basic-gray-light);
}
.enter-button {
    width: 121px;
}
.enter-button-large {
    width: 299px;
}
.signup-buton {
    width: 150px;
}
.page-header-logo {
    background-color: var(--basic-red);
}
.header-content-text {
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
}
.phone-item {
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
}
.header-content-text-small {
    font-size: 14px;
    color: var(--basic-black);
}
.header-navigation {
    background-color: var(--basic-dark);
}

/*Cards block */

.card-title {
    font-weight: 700;
    line-height: 30px;
}
.card-link {
    font-size: 14px;
    line-height: 18px;
}

.card-orange {
    background-color: var(--basic-orange);
}
.card-blue {
    background-color: #3bbce3;
}
.card-violet {
    background-color: #dc91d8;
}
.card-green {
    background-color: var(--basic-green);
}

/* Image Slider */

.slider-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

/* Content Styles */

.content-container {
    background-color: var(--basic-neutral-light);
}
.content-title {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-black);
}

/* Cards with items */

.card {
    border: 1px solid #eaeaea;
}
.content-list {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
}
.card p {
    line-height: 20px;
    text-align: center;
    color: var(--basic-black);
}
.card s {
    font-size: 17px;
    display: block;
    color: var(--basic-gray);
}

.card button.button-red {
    font-size: 17px;
    line-height: 18px;
    width: 141px;
}

/* Contacts, shipment, and services */
.content-text {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    color: var(--basic-black);
}

.services-item {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    background-color: var(--basic-dark);
}
.services-item:active {
    color: var(--basic-dark);
    background-color: var(--basic-white);
}
.partners-item {
    color: var(--basic-black);
}

.partners a.button-red {
    width: 200px;
}
.contacts a.button-red {
    width: 300px;
}

/* Footer */

.button-logo {
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 68px;
    text-align: center;
    line-height: 68px;
}
.button-logo img {
    vertical-align: middle;
}
.first-footer {
    background-color: var(--basic-dark);
}
.second-footer {
    background-color: var(--basic-extra-dark);
}
.footer-menu-even {
    color: var(--basic-orange-light);
}
.menu-text-small {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
}
.footer-social ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.footer-social li {
    float: left;
}
.social-button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: linear-gradient(0deg, #212a3a, #212a3a);
}
.social-button img {
    vertical-align: middle;
}
.social-button:hover {
    background: var(--basic-red-hover);
}
.social-button:active {
    background: var(--basic-red-click);
}
.footer-item a {
    color: var(--basic-orange-light);
}

/* Modal Windows  */

.modal {
    color: var(--basic-black);
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
.feedback-window {
    width: 620px;
    height: 430px;
}
.map-window {
    width: 943px;
    height: 449px;
}
.feedback-item input,
textarea {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
}
.feedback-item input {
    border: 2px solid #c5c5c5;
    box-sizing: border-box;
    border-radius: 2px;
}
.feedback-form p:last-child {
    background: #f4f4f4;
    height: 112px;
}

.window-title-line {
    height: 7px;
    background-color: var(--basic-red);
}
.icon-close {
    background-color: inherit;
}

/* modal basket window */

.modal-footer {
    background-color: #f1f1f1;
    height: 112px;
}
.button-continue {
    width: 192px;
    height: 38px;
}

/* Catalog page */

/* Catalog content */

.catalog-main-content {
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-black);
}
.catalog-table-header {
    background-color: var(--basic-neutral-dark);
}
.catalog-table-header-text {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
}
.catalog-title-container {
    height: 89px;
}
.catalog-info {
    height: 261px;
}
.content-text-small {
    font-size: 13px;
    line-height: 18px;
}

/* Range Slider */

.range-slider {
    background-color: var(--basic-neutral-dark);
}

.filter-indicators {
    font-size: 17px;
    line-height: 18px;
}
.filter-indicators:nth-child(2n + 1) {
    background-color: var(--basic-neutral-dark);
}

/* Filter check-boxes */

.filter-items {
    border-top-color: rgba(0, 0, 0, 0.0001);
    border-top-style: solid;
    border-top-width: 1px;
}
.vendors-list {
    font-size: 15px;
    line-height: 19px;
}
.show-button {
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    width: 200px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Catalog items */

.large-card {
    width: 220px;
    height: 318px;
}
.large-card div.card-buttons {
    display: none;
}
.large-card:hover img,
span {
    display: none;
}
.large-card:hover div.card-buttons {
    display: block;
}
.card-buttons {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
}
.button-bookmark {
    width: 135px;
    height: 38px;
    border: 3px solid var(--basic-green);
    box-sizing: border-box;
    border-radius: 2px;
}
.button-bookmark:hover {
    border-color: var(--basic-extra-dark);
}
.button-bookmark:active {
    border-color: var(--basic-gray);
    color: var(--basic-gray);
}
.button-buy {
    width: 135px;
    height: 38px;
    color: var(--basic-white);
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px #367315;
}
.button-buy:hover {
    background-color: var(--basic-green-hover);
}
.button-buy:active {
    background-color: var(--basic-green-click);
}

/* Pager */

.pager {
    width: 284px;
    display: flex;
}
.pager li:last-child a {
    width: 140px;
}
.pager-button {
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
}
.pager-button-active {
    background-color: var(--basic-red);
}
.pager-button:hover {
    border: 1px solid var(--basic-gray-light);
}
.pager-button:active {
    border: 1px solid var(--basic-red);
}
